:root {
  --font-Bogle: 'BBH Bogle', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --color-first: #d3423c;
  background-color: #242424;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
  overflow: hidden;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and ( max-width: 640px ) {
	.lil-gui.root { 
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}

	#overlay button {
		background: transparent;
		border: 0;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 4px;
		color: #ffffff;
		padding: 12px 18px;
		text-transform: uppercase;
		cursor: pointer;
	}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}


h1, h2, h3, h4, h5, h6, button, p{
  font-family: var(--font-Bogle);
}

h1{
  font-size: 3rem;
  color: var(--color-first);
}

.connor-navbar{
  position: absolute;
  text-align: center;
  z-index: 3;
  display: flex;
  width: 100%;
  justify-content: center;
}

.connor-navbar p{
  padding: 0 20px;
}

.connor-container{
  display: flex;
}

.connor-slogan{
  position: absolute;
  z-index: 2;
  width: 30%;
  right: 2%;
  top: 20%;
}

.connor-slogan h1{
    text-transform: uppercase;
    font-size: 2rem;
  }

.connor-btn{
  color: white;
  background-color: var(--color-first);
  font-weight: 600;
  border-radius: 15px;
  padding: 10px;
  border-style: none;
}